<footer class="bg-dark text-light py-3">
    <div class="row">
        <div class="col-md-4 mb-3 text-center">
            <h5>Información de Contacto</h5>
            <ul class="list-unstyled">
                <li>Teléfono: +541152870183</li>
                <li>Email: mrelectro_argentina@mail.com</li>
                <li>Dirección : Av. Mitre 483 - C.A.B.A</li>
            </ul>
        </div>
        <div class="col-md-4 mb-3 text-center">
            <h5>Seguinos en redes sociales</h5>
            <a href="https://github.com/CandiaJere/TPI-Mr-Electro" class="fa fa-github text-light mx-2" target="_blank"></a>
            <a href="http://www.facebook.com" class="fa fa-facebook text-light mx-2" target="_blank"></a>
            <a href="http://www.instagram.com" class="fa fa-instagram text-light mx-2" target="_blank"></a>
            <a href="http://www.twitter.com" class="fa fa-twitter text-light mx-2" target="_blank"></a>
            <p class="mt-3">Todos los derechos reservados 2024</p>
        </div>
        <div class="col-md-4 mb-3 text-center">
            <h5>Enlaces Rápidos</h5>
            <ul class="list-unstyled">
                <li><a href="{{ url_for('index') }}" class="text-light">Inicio</a></li>
                <li><a href="{{ url_for('contacto') }}" class="text-light">Contacto</a></li>
                <li><a href="{{ url_for('sucursales') }}" class="text-light">Sucursales</a></li>
                <li><a href="{{ url_for('servicios') }}" class="text-light">Nuestros Servicios</a></li>
                <li><a href="{{ url_for('productos') }}" class="text-light">Nuestros Productos</a></li>
            </ul>
        </div>
    </div>
</footer>

