{% include 'defaults/head.html' %}

<body>
    {% include 'defaults/header.html'%}



    <div class="container">
      <section class="sucursales row g-0">
        <h2 class="textosuc animate__animated animate__fadeIn">MR ELECTRO en Argentina</h2>

        <article class="articulo_suc">
          <div class="nusuc col-sm-12 col-md-12 col-lg-8 mb-3">
            <h2>Nuestras Sucursales</h2>
            <p>¡Bienvenidos a MR ELECTRO, su almacén de confianza en venta y servicios de todo lo relacionado con la electrónica! Nos enorgullece ofrecer productos de la más alta calidad y un servicio excepcional en todas nuestras sucursales. Ya sea que nos visite en Buenos Aires, Córdoba o Tucumán, encontrará un equipo de profesionales dedicados a brindarle la mejor experiencia posible. En MR ELECTRO, nos comprometemos a satisfacer todas sus necesidades electrónicas con eficiencia y amabilidad, asegurando que cada cliente reciba la atención personalizada que merece. ¡Gracias por elegirnos y esperamos verlo pronto en cualquiera de nuestras sucursales.</p>
          </div>
          <div class="impro col-sm-12 col-md-12 col-lg-8">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2574.4651768007407!2d-58.25520098656994!3d-34.718893164944646!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e3f44c90345%3A0x6ff2fa43ecb14f0a!2sCaf%C3%A9%20Paz%20Resto!5e0!3m2!1ses!2sco!4v1715745726577!5m2!1ses!2sco"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>

          </div>
          <div class="sucursal col-sm-6 cols-md-6 col-lg-4">
            <div class="sucursaltxt">
              <h3>Buenos Aires</h3>
            </div>
            <div>
              <p>Dirección: Av. Mitre 483,</p>
              <p>Teléfono: 541152870183</p>
              <p>Email: mrelectro_argentina@mail.com</p>
              <hr />
              <p>Horarios de atención:</p>
              <p>Lun a Vie de 8:00 am - 5:00 pm</p>
              <p>Sáb de 7:30 am - 1:00 pm</p>
            </div>

          </div>
        </article>
        <hr />
        <!-- <br> -->
        <article class="articulo_suc">
          <div class="impro col-sm-12 col-md-12 col-lg-8">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5711.562642672118!2d-65.23610648553314!3d-26.825024174349053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94225c5e576ed8f3%3A0x9be2340719811519!2sAv.%20Mate%20de%20Luna%202400%2C%20San%20Miguel%20de%20Tucum%C3%A1n%2C%20Tucum%C3%A1n%2C%20Argentina!5e0!3m2!1ses!2sco!4v1715215835895!5m2!1ses!2sco"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>

          </div>
          <div class="sucursal col-sm-6 cols-md-14 col-lg-4">
            <div class="sucursaltxt">
              <h3>Tucumán</h3>
            </div>
            <div>
              <p>Dirección:Av. Mate de Luna 2400,</p>
              <p>Teléfono: 54381000745</p>
              <p>Email: mrelectro_argentina@mail.com</p>
              <hr />
              <p>Horarios de atención:</p>
              <p>Lun a Vie de 8:00 am - 5:00 pm</p>
              <p>Sáb de 7:30 am - 1:00 pm</p>
            </div>

          </div>
        </article>
        <hr />
        <article class="articulo_suc">
          <div class="impro col-sm-12 col-md-12 col-lg-8">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6809.976425688134!2d-64.17987875640955!3d-31.414462463771365!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sco!4v1715210757424!5m2!1sen!2sco"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>

          </div>
          <div class="sucursal col-sm-6 cols-md-14 col-lg-4">
            <div class="sucursaltxt">
              <h3>Córdoba</h3>
            </div>
            <div>
              <p>Dirección: 411 Ayacucho,</p>
              <p>Teléfono: 543515532174</p>
              <p>Email: mrelectro_argentina@mail.com</p>
              <hr />
              <p>Horarios de atención:</p>
              <p>Lun a Vie de 8:00 am - 5:00 pm</p>
              <p>Sáb de 7:30 am - 1:00 pm</p>
            </div>

          </div>
        </article>
      </section>
    </div>

    {% include 'defaults/scriptsjs.html'%}
    {% include 'defaults/footer.html'%}
</body>
</html>
